<app-loading-placeholder *ngIf="authChecker.pending"></app-loading-placeholder>

<article *ngIf="!authChecker.pending" id="passwordResetPage" class="row">
  <div class="col col-sm-10 col-md-6 col-lg-5 col-xl-4 ml-auto mr-auto text-center">
    <h1 class="mb-4">{{ messages.auth.resetPassword }}</h1>

    <div *ngIf="isComplete" class="text-left">
      <div class="success-block">
        <span>{{ messages.auth.passwordResetSuccess }}</span>
      </div>

      <p class="text">
        {{ messages.auth.passwordResetSuccessHint }}
        <a routerLink="/{{ locale }}" class="link">{{ messages.common.continueShopping }}</a>
      </p>
    </div>

    <form *ngIf="!isComplete" (submit)="onSubmit()" ngNativeValidate>
      <p class="text-muted">{{ messages.auth.passwordResetHint }}</p>

      <div class="form-group">
        <input
          [(ngModel)]="email"
          required
          type="email"
          name="email"
          placeholder="{{ messages.user.email }}"
          class="form-control">
      </div>

      <app-submit-button
        label="{{ messages.common.send }}"
        [isPending]="isFormPending">
      </app-submit-button>

      <p class="mt-4">
        <span>{{ messages.common.or }}</span>
        <a id="cancelLink" routerLink="/{{ locale }}/auth/sign-in" class="link">
          {{ messages.common.cancel }}
        </a>
      </p>
    </form>
  </div>
</article>
