<article id="homepage">
  <!-- banner -->
  <div class="banner row no-gutters">
    <div class="col-4 col-sm-4 col-lg-3">
      <img src="assets/img/banner.jpg" class="img-fluid">
    </div>
    <div class="banner-script col">
      <h1>{{ messages.marketing.fishingGoods }}</h1>
      <p>{{ messages.marketing.directlyFromJapan }}<br>{{ messages.marketing.freeInternationalDelivery }}</p>
    </div>
  </div>

  <hr>

  <div class="grid-view row mt-3">
    <div class="grid-item col-6 col-sm-4 col-md-3 text-center"
         *ngFor="let category of categories; let i = index;"
         [class.d-none]="i > 7 && !expanded">
      <a routerLink="/{{ locale }}/product/category/{{category.id}}">
        <img src="{{ category.imageUrl }}" class="img-fluid">
        <span>{{ category.name }}</span>
      </a>
    </div>

    <div class="col-12 mb-3 text-center" [class.d-none]="expanded">
      <a (click)="expand()" class="link">
        {{ messages.product.moreCategories }}
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
  </div>
</article>
